/* Colors */
:root {
  --lightgray: #c8c8c8;
  --gray: #C0C0C0;
  --darkgray: #333;
  --text: var(--darkgray);
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --lighttext: #767676;
}

@font-face {
	font-family: 'Lora';
	src: url('Lora-VariableFont_wght-subset.woff2') format('truetype supports variations'),
       url('Lora-VariableFont_wght-subset.woff2') format('truetype-variations');
	font-weight: 400 700;
}
@font-face {
	font-family: 'Lora';
	src: url('Lora-Italic-VariableFont_wght-subset.woff2') format('truetype supports variations'),
       url('Lora-Italic-VariableFont_wght-subset.woff2') format('truetype-variations');
	font-style: italic;
  font-weight: 400 700;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  background-color: var(--white);
  scroll-behavior: smooth;
  background-color: #eee;
}
body {
  padding: 0 1rem;
  margin: 0;
  font-family: 'Lora', -apple-system, system-ui, sans-serif;
  color: var(--text);
}

main {
  font-size: clamp(1rem, 0.8676rem + 0.5882vw, 1.25rem);
}

main h1 {
  /* font-size: clamp(1.25rem, 0.5882rem + 2.9412vw, 2.5rem); */
}

main h1 .subtitle {
  font-weight: normal;
  font-size: 66%;
  display: block;
}

.sans {
  font-family: -apple-system, system-ui, sans-serif;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.65;
}
hr {
  border-top: 1px dashed var(--lightgray);
  border-bottom: none;
  margin: 1.5em -1.5em;
}
a[href] {
  color: inherit;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.2em;
  text-decoration-color: var(--lighttext);
}
a[href]:visited {
  color: inherit;
}

a[href]:hover {
  text-decoration-thickness: 0.15em;
  text-underline-offset: 0.1em;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

small {
  color: var(--lighttext);
}

/* Layout */

header, main, .container {
  width: 100%;
}
@media (min-width: 500px) {
  header, main, .container {
    width: clamp(20em, 80vw, 50em);
    margin-left: auto;
    margin-right: auto;
  }

  main.tmpl-home  {
    width: clamp(10em, 60vw, 40em);
  }
}

.ind-1 {
  margin-left: 1em;
}

.ind-2 {
  margin-left: 2em;
}

.ind-3 {
  margin-left: 3em;
}

header::after,
header::before {
  content: '';
  height: 9em;
  width: 12.5em;
  left: -5em;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 14.2em;
  z-index: -1;
}

header::before {
  background-image: url('/img/damon-writing.webp');
  opacity: 0;
}
header::after {
  background-image: url('/img/damon-writing-animated.webp');
  opacity: 1;
}


@media (prefers-reduced-motion: no-preference) {
  body.scrolled header::before {
    opacity: 1
  }
  body.scrolled header::after {
    opacity: 0
  }
}

.post {
  padding: 1em;
  padding-left: clamp(1em, 8vw, 8em);
  padding-right: clamp(1em, 8vw, 8em);
  border: solid 1px #ddd;
  background: #fff;
}
@media screen and (min-width: 800px) {
  .post {
    padding-top: 3em;
  } 
}

.post :first-child {
  margin-top: 0;
}
header {
  padding: 2em 0;
  position: relative;
  border-bottom: 1px dashed var(--lightgray);
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
}


/* Header */
.site-title {
  font-size: 1.2em; 
  font-weight: normal;
}
.site-title a {
  display: block;
  padding-left: 6rem;
}
.site-title b {
  font-weight: bold;
  font-size: 1.6em; /* 16px /16 */
}
.site-title :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nav-item {
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.postlist-item {
  display: flex;
  align-items: baseline;
  gap: .25em;
  counter-increment: start-from -1;
  line-height: 1.4;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
  margin-right: .5em;
}
.postlist-link {
  padding-left: .25em;
  padding-right: .25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}

.postlist-item-taglist .post-tag {
  margin-left: .25em;
  margin-top: 0;
  margin-bottom: 0;
}

.postlist-item-taglist {
  font-size: 75%;
  display: block;
  margin-left: 0;
  margin-top: .4em;
}

.tmpl-doodle-body {
  background: linear-gradient(180deg, transparent 0, white 380px);
}

.tmpl-home {
  margin-top: 1em;
}

.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

.post-note {
  font-style: italic;
}

.attribution {
  text-align: right;
  color: #767676
}

.post-footer {
  text-align: right;
  color: #767676;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 33%;
}

/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em; /* 12px /16 */
  padding: 0.08333333333333em 0.3333333333333em; /* 1px 4px /12 */
  margin-left: 0.6666666666667em; /* 8px /12 */
  margin-top: 0.5em; /* 6px /12 */
  margin-bottom: 0.5em; /* 6px /12 */
  color: var(--darkgray);
  border: 1px solid var(--gray);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
.post-tag:first-child {
  margin-left: 0;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}
.postlist-item > .post-tag {
  align-self: center;
}

/* utilities */

.txt-r {
  text-align: right;
}
.txt-c {
  text-align: center;
}

.my-1 { margin-top: 1rem; margin-bottom: 1rem; }
.mt-1 { margin-top: 1rem; }
.mb-1 { margin-bottom: 1rem; }


.my-2 { margin-top: 2rem; margin-bottom: 2rem; }
.mt-2 { margin-top: 2rem; }
.mb-2 { margin-bottom: 2rem; }

.my-4 { margin-top: 4rem; margin-bottom: 4rem; }
.mt-4 { margin-top: 4rem; }
.mb-4 { margin-bottom: 4rem; }

.my-8 { margin-top: 8rem; margin-bottom: 8rem; }
.mt-8 { margin-top: 8rem; }
.mb-8 { margin-bottom: 8rem; }

.ib {
  display: inline-block;
}

@media (min-width: 500px) {
  .home-posts-list {
    margin-left: -7.25vw;
    margin-right: -7.25vw;
  }
}

/* postcards */

.postcards {
  list-style-type: none;
  padding: 0;
  gap: 1.5em;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(min(calc(130px + 6vmin + 6vw), 100%), 1fr) );
}

.postcard-item {
  border: 1px solid black;
  position: relative;
  box-shadow: var(--lighttext) 7.5px 7.5px;
  min-width: 200px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.postcard-item:hover {
  box-shadow: var(--darkgray) 7.5px 7.5px;
}



.postcard-item-tag--meta {
  box-shadow: #999 4.5px 4.5px; 
}

.postcard-link {
  font-weight: 700;
}
.postcard-link::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
}
.postcard-link .subtitle {
  font-weight: 400;
  font-size: 80%;
}

.postcard-date,
.postcard-description {
  font-size: .8em;
}


.postcard-date {
  text-transform: uppercase;
  color: var(--lighttext);
  font-size: .66em;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

:focus-visible {
  outline: 1px dashed black;
}

.tmpl-home-body {
  margin-bottom: 1em;
}

/* fullscreen */
body.fullscreen .post-footer,
body.fullscreen header {
  display: none;
}
body.fullscreen main {
  margin-top: 4rem;
}

.doodle {
  /* white-space: pre; */
  font-style: italic;
  color: var(--lighttext);
}

/* darkmode */
body.darkmode {
  color: var(--white);
  background-color: var(--text);
}
body.darkmode .post-footer {
  color: #eee;
}
body.darkmode header::before {
  filter: invert(1);
}

