---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<p class="site-intro">
<span>This is a little place on the internet </span><br/>
<span class="ind-1">to preserve in wax </span><br/>
<span>some of the words that </span> <br/>
<span>some of the time </span> <br/>
<span class="ind-1">drip out of <a href="#me">my</a> brain </span> <br/>
<span class="ind-2">and onto my keyboard.</span></p><br/>

<div class="home-posts-list mt-4">
  {% set postslist = collections.posts | head(-6) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postcards.njk" %}
</div>

<p class="mt-4"><b><a href="{{ '/posts/' | url }}">More writing in the archive</a></b></p>
<p class="mt-0"><b><a href="{{ '/doodles/' | url }}">Worse writing in the doodles</a></b></p>

<hr class="my-4"/>

<h2 id="me">Me</h2>

<p>I am <a href="https://damonmuma.com">Damon Muma</a>.</p>

<p>
	I am a human <br/>
	living  <br/>
	on Earth, amongst her creatures<br/>
  since the 80s <br/>
	in London, Ontario  <br/>
	under various lighter and darker skies  <br/>
	who enjoys words <br/>
  and enjoys smashing them into each other  <br/>
	to see what meanings get refracted  <br/>when they explode  <br/>or when they start to dance.
</p>

<hr class="my-4"/>

<p><small>
Art by <a href="https://ahpi.ca">Antony Hare</a>
</small></p>