---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
{%- set desc = "./_meta/tags/" + tag + ".md" -%}

{% if desc | fsExists %}
  <div>{% renderFileGently desc %}</div>
  <hr/>
  <h2>Posts</h2>


{% else %}

written things, touching on the general area of
<h1>{{ tag | title}}</h1>

{% endif %}

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p class="mt-4">List other <a href="{{ '/tags/' | url }}">taxonomies</a>.</p>
