---
layout: layouts/base.njk
templateClass: tmpl-doodle
---
<br/>
<hr class="mt-2"/>
<pre>?? {{ page.date | htmlDateString }}...</pre>
<hr class="mb-2"/>


<div class="post-content my-8 doodle">
    <div class="post-content-wrap">
    {{ content | safe }}
    </div>
</div>

<script>
const container = document.querySelector('.post-content');
const content = document.querySelector('.post-content-wrap');
document.addEventListener('scroll', function(e) {
    let documentHeight = document.body.scrollHeight;
    let currentScroll = window.scrollY + window.innerHeight;
    // When the user is [modifier]px from the bottom, fire the event.
    let modifier = 10; 
    if( currentScroll + modifier > documentHeight) {
        container.appendChild(content.cloneNode(true));
    }
})
</script>
